{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">
    <h1>Fale conosco</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ex
      accusamus beatae accusantium, minima quia id qui odit rerum eligendi.
    </p>
    <h4>Links</h4>
    <ul>
      <li>
        Email:
        <a href="#">contact@sistemamooc.org</a>
      </li>
      <li>
        Twitter:
        <a href="#">@sistemamooc</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}